@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;500&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    background-color: white;
    padding: 10px;
}

h1 {
    width: 150px;
}

h2 {
    font-weight: 500;
}

a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

a.nav_active {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

p {
    font-weight: 300;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Navbar */

nav {
    font-weight: 300;
}


.mobile-menu-toggle {
    border: none;
    background-color: white;
    width: 35px;
}

.mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    display: flex !important;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: rgba(255,255,255, 0.7);
    transition: all 0.3s ease-out;
    z-index: 999;
}

.mobile-menu a {
    font-size: 3em;
}

.mobile-menu #mobile-menu-close {
    background-color: rgba(0,0,0,0);
    border: none;
    width: 35px;
    position: absolute;
    top: 70px;
    right: 20px;
}

/* Slideshow */

.gallery {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    max-width: 800px;
}

.gallery button {
    background-color: white;
    border: none;
    max-width: 800px;
}

.gallery button#button_left {
    transform: rotate(180deg);
}

.gallery button img {
    width: 30px;
}

.holder {
    flex-grow: 1;
    overflow: hidden;
    max-width: 400px;
}

figure#slideshow {
    white-space: nowrap;
    transition: transform 0.2s ease-out;
    margin: 0;
}

figure img {
    width: 100%;
    margin-right: -5.2px;
}

/* About */

.about-container {
    text-align: right;
}

.about-container a {
    color: blue;
    font-size: 16px;
    text-decoration: underline;
}

/* Generic Classes */

.hidden {
    visibility: hidden;
    opacity: 0;
    cursor: none;
    display: none;
}

.show {
    visibility: visible;
    opacity: 1;
    cursor: initial;
    display: initial;
}

/* Media Query */

@media (min-width: 768px) {
    
    h1 {
        width: 300px;
    }

    .gallery {
        margin-top: 25px;
    }
}